*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  max-width: 1140px;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  text-align: center;
  margin: 10px;
}

.color-box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.color-box {
  width: 200px;
  height: 200px;
  margin: 2px;
}
